:root {
	/* Colors */
	--colorPrimary: #515152;
	--colorSecondary: #e3e4e4;
	--colorBgPrimary: #f6f6f6;
	--colorBgSecondary: #fff;
	--colorPivot: #fff;
	--colorBgPivot: #62b5e5;
	--colorBgPivotFocus: #91cbec;
	/*Fonts*/
	--fontFamily: Arial, sans-serif;
	--fontWeightPrimary: 700;
	--fontSecondary: 500;
	/*Spacing*/
}
